<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ asset('bundles/pizzanightmanagement/css/main.css') }}" type="text/css" media="all" />
    <title>Pizza Night {% block subtitle %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header>
        <hgroup>
            <h1>Pizza Night Manager</h1>
        </hgroup>
    </header>

    <nav>
        <button onclick="javascript:document.location='{{ path('_events') }}'">Inicio</button>
        {% if app.user %}
            <button onclick="javascript:document.location='{{ path('_events') }}'">Eventos</button>
            <button class="float-right" onclick="javascript:document.location='{{ path('logout') }}'">Salir</button>
        {% endif %}
    </nav>

    <article>
        <section class="symfony-content">
            {% block content %}
            {% endblock %}
        </section>
    </article>

    <footer>
        <p>PizzaNight 2012&copy;</p>
    </footer>
</body>
</html>