{% extends "PizzaNightManagementBundle::layout.html.twig" %}

{% block subtitle %} - Contactos{% endblock %}

{% block content %}
    <h1>Listado de contactos</h1>

    <section>
    {% for contact in contacts %}
        <div class="attendee attendee_{{ contact.id }}">
            <div class="attendee-actions">
                <a href="{{ path('_contacts_edit', {"id": contact.id}) }}" title="Editar contacto"><img src="{{ asset("bundles/pizzanightmanagement/images/icons/contact_icon.png") }}" alt="Editar contacto" /></a>
                <a href="{{ path('_contacts_delete', {"id": contact.id}) }}" title="Eliminar contacto"><img src="{{ asset("bundles/pizzanightmanagement/images/icons/reject_icon.png") }}" alt="Eliminar contacto" /></a>
            </div>
            <div class="attendee-name"><b>{{ contact.name }}</b>&nbsp;<small>&lt;{{ contact.email }}&gt; | {{ contact.phone }}</small></div>
            <div class="attendee-moreinfo hidden">
                {# @TODO Add more info #}
                More info
            </div>
        </div>
    {% else %}
        <section class="no-data">
            <p>No hay contactos</p>
        </section>
    {% endfor %}
    </section>
{% endblock content %}