{% extends "PizzaNightManagementBundle::layout.html.twig" %}

{% block content %}
    <h1>Listado de asistentes</h1>

    {% for attendee in attendees %}
        <div class="attendee">
            <div class="float-right">{{ attendee.contact.email }} / {{ attendee.contact.phone }}</div>
            <div><b>{{ attendee.contact.name }}</b></div>
        </div>
    {% else %}
        No hay asistentes
    {% endfor %}

    <div align="right">
        <button class="symfony-button-dark-grey" onclick="javascript:document.location='{{ path("_events") }}'">Listado de eventos</button>
        <button class="symfony-button-dark-grey" onclick="javascript:document.location='{{ path("_registered", {"id": event.id}) }}'">Gestionar asistentes</button>
    </div>
{% endblock content %}